.App {
  font-family: 'Arial', sans-serif;
  background-color: #0D0208;
  color: #333;
  /* min-height: 100vh; */
  padding: 2rem;
  display: flex;
  justify-content:space-between;
  /* flex-direction: column; */
  width: 100%;
  align-items: center; 
}

.navbar{
  display: flex;
  justify-content:space-between;
}

.navbar-logo {

  height: 100px; /* Adjust the size to fit your design */
  margin-right: 1rem;
}
.navbar-header {
  margin-left: 10px;
  font-family: cursive;
  font-size: 1.5rem;
  color: #00ff2b;
}

.App form {
  margin-right: 12rem;
  padding: 2rem;
  align-items: center;
}

.App input[type='text'] {
  border: none;
  font-family: robot;
  border-bottom: 2px solid #36ba01;
  background: transparent;
  outline: none;
  color: #00ff2b;
  height: 2.5rem;
  width: 17rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  padding: 0.6rem;
  transition: border-color 0.3s;
}

.App input[type='text']:focus {
  border-color: #009a22;
}

.red {
  background-color: red;
  font-family: cursive ;
  color: #0D0208;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  
  transition: background-color 0.3s;
}

.blue {
  background-color: #5d5dff;
  font-family: cursive ;
  color: #0D0208;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px ;
}

.blue:hover {
  background-color: #36ba01;
}

.red:hover {
  background-color: #36ba01;
}
